.questionContainer {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 6px;
    justify-content: space-between;
    user-select: none;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;

    .questions {
        p {
            margin: 0;

            span {
                font-size: 14px;
                color: #707070;
            }
        }
    }
}