.canvasArea {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    .imageContainer {
        display: flex;
        overflow: hidden;
        margin-bottom: 1rem;
        user-select: none;
        padding: 0.5rem;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 6px;
        
        img {
            width: auto;
            height: 70vh;
            user-select: none;
            -webkit-user-drag: none;
        }
    }
}