.topNav {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 1rem 1rem 0 1rem;
    gap: 1rem;

    .topNav1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        background-color: white;
        padding: 0.5rem 1rem;
        border-radius: 6px;
    }

    .topNav2 {
        display: flex;
        flex-grow: 1;
    }
}