.button {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.primary {
  background-color: #7C5AFF;
  color: white;
}

.secondary {
  background-color: white;
  border: 2px solid #7C5AFF;
  color: black;
}

.sm {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
}

.md {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

.lg {
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
}

.icon {
  height: 20px;
  width: 20px;
}
  