.dropdown {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 0 1rem 0 0;
    border-right: 1px solid black;
  
    img {
        height: 100%;
    }
  }
  
  .bar {
    height: 3px;
    width: 100%;
    background-color: white;
  }
  
  .menu {
    position: absolute;
    top: 78px;
    left: 1rem;
    width: 124px;
    background-color: white;
    z-index: 1000;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 0.75rem 0 0 0.75rem;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding-bottom: 0.75rem;
    }
  }

  .menu ul li a {
    color: black;
  }
  