.card {
    display: flex;
    overflow: hidden;
    height: 100%;
    margin-bottom: 1rem;
    user-select: none;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
}

.image {
    width: auto;
    height: 80svh;
    object-fit: cover;
    user-select: none;
    border: 2px solid #a58fff84 ;
}