.card {
    display: flex;
    overflow: hidden;
    height: 90%;
    margin-bottom: 1rem;
    user-select: none;
}

.image {
    width: auto;
    height: 75vh;
    object-fit: cover;
    user-select: none;
}