.instructionsNav {
  position: fixed;
  top: 1.5rem;
  right: 10rem;
  background-color: white;
  border-radius: 18px;
  display: inline-flex;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  color: #7a5af8;
  border: 1px solid #7a5af8;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  align-items: center;
  cursor: pointer;
}
